.conn_daterangepicker {
    color: inherit;
    border-radius: 4px;
    width: 308px;
    max-width: 100%;
    padding: 0;
    margin-top: 7px;
    z-index: 3001;
    display: none;
    font-family: arial;
    font-size: 15px;
}
.conn_daterangepicker td.available:hover {
    span{        
        background: #F2EADF;
    }
}

.conn_daterangepicker .calendar-table .next span,
.conn_daterangepicker .calendar-table .prev span {
    color: #fff;
    border: solid black;
    border-width: 0 2px 2px 0;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
}

.conn_daterangepicker .calendar-table .next span {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.conn_daterangepicker .calendar-table .prev span {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.conn_daterangepicker .calendar-table td {
    width: 100%;
    font: normal normal 300 16px/1.2 Fraunces;
    cursor: pointer;
    position: relative;
    pointer-events: auto;
    padding-top: 100%;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 9999px;
        pointer-events: none;
    }
}
.conn_daterangepicker .calendar-table thead{
    display: grid;
    grid-gap: 10px;
    tr{
        &:first-child{
            th{
                height: 44px;
            }
        }
        th{
            display: flex;
            align-items: center;
            justify-content: center;
            font: normal normal bold 16px/1.5 Raleway;
            height: 24px;
        }

    }
    .arrow{
        cursor: pointer;
        pointer-events: auto;
        &.invailable{
            cursor: default;
            opacity: 0.4;
        }
        &.available{
            &:hover{
                svg path{
                    // stroke: $color;
                    fill: $color;
                }
            }
        }
    }
}
.conn_daterangepicker .calendar-table tbody{
    display: grid;
    grid-gap: 8px;
    margin-top: 8px;
    tr{
        display: grid;
        grid-template-columns: repeat(7, minmax(10px, 1fr));
        &:last-child{
            td.off{
                display: none;
            }
        }
    }
}
.conn_daterangepicker .calendar-table thead tr{
    display: grid;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    grid-gap: 8px;
    &:first-child{
        grid-template-columns: 32px 1fr 32px;
    }
}


.conn_daterangepicker .calendar-table table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.conn_daterangepicker td.week,
.conn_daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}

.conn_daterangepicker td.off {
    opacity: 0;
    visibility: hidden;
}

.conn_daterangepicker td.in-range {
    background-color: #F2EADF;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.conn_daterangepicker td.start-date {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.conn_daterangepicker td.end-date {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.conn_daterangepicker td.available.active span,
.conn_daterangepicker td.available.active span:hover {
    border-color: transparent;
    color: #fff;
    background: #DAB68E 0% 0% no-repeat padding-box;
    border-radius: 22px;
}
.conn_daterangepicker td.available.active{
    background: #F2EADF;
}

.conn_daterangepicker td.disabled {
    color: #16342266;
    cursor: not-allowed;
}

.booking{
    min-height: 930px;
    @media (max-width: 1200px){
        min-height: auto;
    }
    .header-booking{
        background: $color-green;
        .box{
            display: flex;
            justify-content: space-between;
            .box-back{
                a{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    &:hover{
                        svg{
                            left: -7px;
                        }
                    }
                    svg{
                        @include transition;
                        position: relative;
                        left: 0;
                    }
                    span{
                        @include font16;
                        font-family: Fraunces;
                        color: #DAB68E;
                        margin-left: 8px;
                    }
                }
            }
            .box-logo{
                padding: 12px 0;
                display: flex;
                justify-content: flex-end;
                a{
                    display: block;
                    img{
                        display: block;
                        height: 56px;
                        @media (max-width: 450px){
                            height: 36px;
                        }
                    }
                }
            } 
        }
    }
    .body-booking{
        padding: 60px 0 14px;
        min-height: calc(100vh - 80px - 282px);
        @media (max-width: 450px){
            min-height: calc(100vh - 150px);
        }
        .box{
            display: grid;
            grid-template-columns: 461px 364px;
            grid-gap: 30px;
            justify-content: space-between;
            max-width: 970px;
            margin: auto;
            @media (max-width: 992px){
                grid-template-columns: 1fr;
            }
            h2{
                @include font24;
                margin: 0;
            }
            .box-form{
                margin-top: 24px;
                .group{
                    + .group{
                        margin-top: 16px;
                    }
                    &.group--hidden{
                        display: none;
                    }
                    .group--input{
                        position: relative;
                        label{
                            margin: 0;
                            position: absolute;
                            top: 16px;
                            left: 20px;
                            @include font12;
                            color: #8E6941;
                        }
                        input[type=text],
                        input[type=email]{
                            width: 100%;
                            padding: 35px 19px 17px;
                            @include font20;
                            color: #163422;
                            border: 1px solid #F2EADF;
                            border-radius: 0;
                            height: 80px;
                            outline: none;
                            // @include transition;
                            &::-webkit-input-placeholder {
                                color: rgba(#163422, 0.4);
                            }

                            &:-ms-input-placeholder {
                                color: rgba(#163422, 0.4);
                            }

                            &::placeholder {
                                color: rgba(#163422, 0.4);
                            }
                            &:focus{
                                border-color: #DAB68E;
                            }
                        }
                        textarea{
                            width: 100%;
                            padding: 35px 19px 17px;
                            @include font20;
                            color: #163422;
                            border: 1px solid #F2EADF;
                            border-radius: 0;
                            min-height: 128px;
                            outline: none;
                            resize: none;
                            overflow: hidden;
                            // @include transition;
                            &::-webkit-input-placeholder {
                                color: rgba(#163422, 0.4);
                            }

                            &:-ms-input-placeholder {
                                color: rgba(#163422, 0.4);
                            }

                            &::placeholder {
                                color: rgba(#163422, 0.4);
                            }
                            &:focus{
                                border-color: #DAB68E;
                            }                            
                        }
                    }
                }
            }
            .box-info{
                margin-top: 24px;
                border: 1px solid #F2EADF;
                background: #fff;
                .box-grid{
                    padding: 23px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                    position: relative;
                    grid-gap: 32px;
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 23px;
                        right: 23px;
                        height: 1px;                        
                        background: #F2EADF;
                    }
                    .child{
                        + .child{
                            position: relative;
                            &:before{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                top: 0;
                                left: -16px;
                                width: 1px;                        
                                background: #F2EADF;
                            }
                        }
                        small{
                            display: block;
                            @include font12;
                            color: #8E6941;                            
                        }
                        span{
                            @include font20;
                            color: #163422;
                            margin-top: 6px;
                            display: block;
                        }
                    }
                }
                .box-button{
                    margin-top: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include font20;
                    height: 80px;
                    color: #fff;
                    background: $color;
                    cursor: pointer;
                    pointer-events: auto;
                    @media (max-width: 767px){
                        height: 60px;
                    }
                    &:hover{
                        svg{
                            left: 7px;
                        }
                    }
                    svg{
                        margin-left: 8px;
                        position: relative;
                        top: 2px;
                        left: 0;
                        @include transition;
                    }
                }
            }
        }
        .success{
            text-align: center;
            max-width: 560px;
            margin: auto;
            color: #163422;
            &-icon{
                svg, img{
                    max-height: 88px;
                }
            }
            &-title{
                margin-top: 16px;
                @include font32;
                font-style: italic;
            }
            &-text{
                @include font16;
                display: grid;
                grid-gap: 24px;
                margin-top: 40px;
                *{
                    margin: 0;
                }
            }
            &-back{
                display: inline-block;
                border: 2px solid $color;
                padding: 12.5px 31px;
                font-weight: 300;
                @include font16;
                color: $color;
                position: relative;
                background: transparent;
                cursor: pointer;
                pointer-events: auto;
                transition: all 0.2s ease-out 0s;
                -webkit-transition: all 0.2s ease-out 0s;
                margin-top: 40px;
                &:hover{
                    color: #fff;
                    &::before{
                        background: $color;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 4px;
                    right: 4px;
                    top: 0;
                    bottom: 0;
                    background: transparent;
                    border-left: 1px solid $color;
                    border-right: 1px solid $color;
                    transition: all 0.2s ease-out 0s;
                    -webkit-transition: all 0.2s ease-out 0s;
                }
                span{
                    position: relative;
                    z-index: 9;
                    pointer-events: none;
                }
            }
        }
    }
    .footer-booking{
        .box{
            position: relative;
            svg{
                max-width: 100%;
                height: auto;
            }
            .box-copyright{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                justify-content: center;
                display: flex;
                padding: 16px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font: normal normal normal 12px/1.4 Raleway;
                letter-spacing: 0px;
                color: #163422;
                span{
                    opacity: 0.4;
                }
                a{
                    margin-left: 4px;
                }
            }
        }
    }
}